/*
======== INDEX ========
GENERAL STYLES
    links
    buttons
    icons
    sizes and spaces of the page
TOPBAR
MAIN-HEADER
HERO
ABOUT
SERVICES
CLIENT
PORTIFOLIO
TESTIMONIALS
CTA
OUR-TEAM
CONTACT-US
FOOTER
=======================
*/

/* === GENERAL STYLES === */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #444;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

#topbar{
    background: #fff;
    height: 2em;
    border: grey 1px solid;

}

.topbar-container-flex{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.container-contact {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.contact-info{
    display: flex;
}


h2 {
    font-size: 32px;
    font-weight: 700;
    color: #7B2CBF;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

/* links */

a {
    font-size: 15px;
    font-weight: 600;
    transition: .2s ease-out;
}

a:hover,
a:focus {
    color: #b361f7;
}

a:active {
    color: #7B2CBF;
}

/* buttons */

.button {
    display: inline-block;
    box-sizing: border-box;
    width: 140px;
    padding: 10px 0;
    text-align: center;
    color: #fff !important;
    background-color: #7B2CBF;
    border: none;
    transition: .2s ease-out;
}

.button:hover {
    background-color: #b361f7;
}

/* icons */

.md-icon {
    font-size: 50px;
    color: #7B2CBF;
}

.sm-icon {
    font-size: 20px;
    transition: .2s ease-out;
}

.sm-icon:hover {
    color: #7B2CBF;
}

/* sizes and spaces of the page */

#main-header {
    height: 80px;
    position: sticky;
    top: 0;
}
.main-container {
    background: #fff;
    max-width: 960px;
    margin: auto;
}

#navbar ul{
    display: flex;
    justify-content: flex-end;
}

.lista-principal{  
    margin: 0 10px;
    
}

#about, 
#services, 
#clients, 
#portfolio,
#testimonials,
#cta,
#our-team,
#contact-us {
    padding: 30px 0;
}

.section-header {
    margin-bottom: 30px;
}

/* === TOPBAR === */

/* === MAIN-HEADER === */

/* === HERO === */

#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 408px;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.white-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .85;
    background-color: #fff;
}

#hero-content {
    position: relative;
    max-width: 615px;
    text-align: center;
    z-index: 1;
}

#hero-content h2 {
    font-size: 64px;
    margin-bottom: 40px;
}

/* === ABOUT === */

/* === SERVICES === */

/* === CLIENT === */

#client-carousel-container {
    box-sizing: border-box;
    overflow: hidden;
}

#slider {
    display: flex;
    transition: .5s ease;
    transform: translateX(0);
}

.logo-container {
    min-width: 20%;
    max-width: 20%;
}

.client-logo {
    width: 80%;
    opacity: .6;
    transition: .3s ease-out;
}

.client-logo:hover {
    opacity: 1;
}

#mini-button-container {
    text-align: center;
}

.mini-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #b461f786;
    cursor: pointer;
    transition: .2s ease-out;
}

.mini-button:hover {
    background-color: #7B2CBF;
}

.active-mini-button {
    background-color: #7B2CBF;
}

.mini-button:nth-child(5) {
    display: none;
}

/* === PORTIFOLIO === */

/* === TESTIMONIALS === */

/* === CTA === */

/* === OUR-TEAM === */

/* === CONTACT-US === */

/* === FOOTER === */

@media (min-width: 1200px) {
    .main-container {
        max-width: 1140px;
    }

}

@media (max-width: 767px) {
    .logo-container {
        min-width: 25%;
        max-width: 25%;
    }

    .mini-button:nth-child(5) {
        display: inline;
    }
}